<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credentials</string>
			<key>footerText</key>
			<string>Create a bot with @BotFather, then enter its token. The Chat ID can be a numeric chat ID or a channel username such as @channel_name.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>key</key>
			<string>TelegramKey</string>
			<key>label</key>
			<string>Bot Token:</string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>key</key>
			<string>TelegramChatID</string>
			<key>label</key>
			<string>Chat ID:</string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>TelegramAppListIsBlacklist</string>
			<key>validTitles</key>
			<array>
				<string>Blacklist</string>
				<string>Whitelist</string>
			</array>
			<key>validValues</key>
			<array>
				<true/>
				<false/>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>NSPAppListController</string>
			<key>icon</key>
			<string>app_list</string>
			<key>label</key>
			<string>App List</string>
			<key>ALSettingsKeyPrefix</key>
			<string>TelegramBL-</string>
			<key>useSearchBar</key>
			<true />
			<key>alphabeticIndexingEnabled</key>
			<true />
		</dict>
	</array>
	<key>title</key>
	<string>Telegram</string>
</dict>
</plist>
